@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14);
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 2rem 1rem;
    }

    .text-2xl {
        font-size: 24px;
    }

    nav {
        padding: 1rem 0;
    }
}

@font-face {
    font-family: 'DotGothic16';
    src: url('/fonts/DotGothic16-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DotGothic16', sans-serif;
}

.menu-transition {
    transition: max-height 2s ease-in-out;
  }
  